/* css for header components */

.header img {
    height: 80px;
}

.header {
    text-align: center;
}

.header nav {
    margin: 0px 0px 0px 0px;
    background-color: black;
    padding: 10px;
    text-align: left;
}

.header nav a {
    padding-left: 20px;
    text-decoration: none;
    color: white;
}


/* css for product */

.shop-container {
    display: flex;
}

.product-container {
    width: 70%;
    margin-left: 20px;
    margin-right: 5px;
    border-right: 1px solid lightgrey;
}